.container {
  font-family: 'Source Sans Pro', sans-serif;
  color: #555555; }

div .banner {
  background-size: cover;
  background-image: url("../banner.jpg");
  color: #FFFFFF;
  height: 120px;
  max-width: 100%;
  margin-bottom: 0px;
  text-align: center;
  vertical-align: middle; }

.main {
  background-color: #EEEEEE;
  padding-bottom: 50px;
  padding-top: 50px; }

h3 {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase; }

h3.background {
  position: relative;
  z-index: 1; }
  h3.background:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1; }
  h3.background span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #EEEEEE;
    padding: 0 15px; }

footer {
  background-color: #4B494F;
  color: #999999;
  height: 60px;
  margin-top: 0;
  padding-top: 80px;
  text-align: center;
  width: 100%; }
